---
---

body {
  box-sizing: border-box;
}

// github markdown
// https://github.com/sindresorhus/github-markdown-css
@import "./github-markdown.css";

// set size
.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px; // wider may be better
  margin: 0 auto;
  padding: 15px 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

// anchor.js no text decoration
.anchorjs-link {
  text-decoration: none !important;
}

.menu {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 50;
  padding: 6px 12px;
  border-radius: 4px;
  background-color: var(--color-canvas-default);
  // color: var(--color-danger-fg);
  border: solid 1px var(--color-border-default);
}

.menu-button {
  text-align: right;
}

.menu-anchors {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

// footer (all pages)
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 0 16px;
  color: var(--color-fg-muted);

  span {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .heart {
    height: 0.875rem;
    width: 0.875rem;
    margin: 0 0.25rem;
    path {
      fill: red;
    }
  }

  .coffee {
    height: 1.09375rem;
    width: 0.875rem;
    margin: 0 0.25rem;
    path {
      fill: peru;
    }
  }
}

// non-authoritative notice
.non-authoritative {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 25;
  padding: 12px;
  border-radius: 4px;
  background-color: var(--color-canvas-default);
  color: var(--color-danger-fg);
  border: solid 1px var(--color-danger-fg);

  h3 {
    margin: 0;
    padding: 0;
    border: none;
  }
}

/*
 * standard operating procedures
 */
.standard-operating-procedures {
  header {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid var(--color-border-muted);

    h1,
    h2 {
      margin: 0;
      padding: 0;
      border-bottom: none;
    }
  }

  blockquote {
    color: var(--color-danger-fg);
    border-color: var(--color-danger-fg);
  }
}
